<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyHost.Properties.Settings.MyConnectionString" connectionString="Data Source=DESKTOP-OSDE5KD\SQLEXPRESS;Initial Catalog=host;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>